.whatsApplogo{
  margin-left: 60px;
  margin-top: auto;
  width: 75%;
  height:75%;
 
}
.navbar{
  padding-right: 70px;

}
.navbar-nav>li{
  margin-left: 20px;
  margin-right: 30px;
}


#dropdownMenuButton1{
  background-color: green;
  border-radius: 60rem;
  font-size: 15px;
  padding: 12px 30px;
  float: right;

  
}
.bi:hover{
  background-color: black;
}
#navbarNav{
  margin-left:20px;
  margin-right:10px;
  
}


.navbar-light .navbar-nav .nav-link.active{
  color: #000;
}
.secondportion{
  display: inline;
}
.card-img-overlay{
  max-width: 40%;
  margin-top: 300px;
}
.card-img1{
  max-width: 100%;
}
.btn btn-success{

}



